html,
body {
  text-align: center;
  background-color: #1e2027;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  margin-top: -4em;
}

.App {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  font-size: 40px;
  margin: 5px;
  padding: 1em;
  font-family: "Avenir Next";
  outline: none;
  border: 2px solid pink;
  border-radius: 15px;
}

.temp {
  padding: 1rem;
  background-color: green;
  width: 25%;
  margin: 0.5em;
  border-radius: 15px;
}
